n8n-workflows/core_event_router.workflow.json
{
  "name": "Core Event Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "core-events",
        "options": {}
      },
      "name": "Webhook: Receive from Core",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "webhook-receive-core"
    },
    {
      "parameters": {
        "jsCode": "// Validate core_to_n8n_event payload structure and safety flags\nconst body = items[0].json.body;\n\nif (!body.event_id || !body.event_type || !body.safety) {\n  throw new Error('Invalid payload: Missing core_to_n8n_event properties');\n}\n\n// Propagate safety flags into workflow parameters\nreturn [{\n  json: {\n    ...body,\n    safety_validated: true\n  }\n}];"
      },
      "name": "Code: Validate & Prep Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "id": "code-validate-payload"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "DESIGN_REQUEST",
              "output": 0
            },
            {
              "value2": "CAMPAIGN_PUBLISH",
              "output": 1
            },
            {
              "value2": "ADS_SPEND_TRIGGER",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "Switch: Event Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "switch-router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_COMFYUI_PIPELINE_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"comfyui-pipeline\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }},\n  \"created_at\": \"{{ $json.created_at }}\"\n}",
        "options": {}
      },
      "name": "HTTP: Trigger ComfyUI Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        150
      ],
      "id": "http-trigger-comfyui"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "all",
          "string": [
            {
              "value1": "={{ $json.approval_status }}",
              "operation": "equal",
              "value2": "APPROVED"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.safety.final_approval_granted }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_auto_publish }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_real_world_action }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF: Safety Gate - Publishing Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "if-publishing-approved"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_FACEBOOK_PUBLISHER_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"facebook-publisher\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }},\n  \"created_at\": \"{{ $json.created_at }}\"\n}",
        "options": {}
      },
      "name": "HTTP: Invoke FB Publisher Module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        950,
        250
      ],
      "id": "http-trigger-fb"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "all",
          "string": [
            {
              "value1": "={{ $json.approval_status }}",
              "operation": "equal",
              "value2": "APPROVED"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.safety.final_approval_granted }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_ads_spend }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_real_world_action }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF: Safety Gate - Ads Spend Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        450
      ],
      "id": "if-ads-spend-approved"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_META_ADS_CONNECTOR_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"meta-ads-connector\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }},\n  \"created_at\": \"{{ $json.created_at }}\"\n}",
        "options": {}
      },
      "name": "HTTP: Invoke Meta Ads Connector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        950,
        400
      ],
      "id": "http-trigger-meta-ads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "CORE_CALLBACK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"REJECTED_BY_SAFETY\",\n  \"reason\": \"Workflow-level approval/safety gate blocked real-world action\",\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"campaign_id\": \"{{ $json.campaign_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"{{ $json.event_type === 'CAMPAIGN_PUBLISH' ? 'facebook-publisher' : 'meta-ads-connector' }}\",\n  \"safety\": {{ JSON.stringify($json.safety) }},\n  \"original_event_type\": \"{{ $json.event_type }}\",\n  \"rejected_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "name": "HTTP: Callback Core - Rejected By Safety",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        950,
        550
      ],
      "id": "http-callback-core-rejected"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: \"ignored\",\n    message: \"Unhandled event type: \" + items[0].json.event_type\n  }\n}];"
      },
      "name": "Code: Fallback Ignored",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        700,
        600
      ],
      "id": "code-fallback"
    }
  ],
  "connections": {
    "Webhook: Receive from Core": {
      "main": [
        [
          {
            "node": "Code: Validate & Prep Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate & Prep Payload": {
      "main": [
        [
          {
            "node": "Switch: Event Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Event Type Router": {
      "main": [
        [
          {
            "node": "HTTP: Trigger ComfyUI Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Safety Gate - Publishing Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Safety Gate - Ads Spend Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Fallback Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Safety Gate - Publishing Approved": {
      "main": [
        [
          {
            "node": "HTTP: Invoke FB Publisher Module",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Callback Core - Rejected By Safety",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Safety Gate - Ads Spend Approved": {
      "main": [
        [
          {
            "node": "HTTP: Invoke Meta Ads Connector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Callback Core - Rejected By Safety",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 3600
  }
}
