n8n-workflows/core_event_router.workflow.json
{
  "name": "Core Event Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "core-events",
        "options": {}
      },
      "name": "Webhook: Receive Core Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        50,
        350
      ],
      "id": "webhook-receive-core-event"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_id",
              "value": "={{ $json.body?.event_id || $json.event_id }}"
            },
            {
              "name": "event_type",
              "value": "={{ $json.body?.event_type || $json.event_type }}"
            },
            {
              "name": "correlation_id",
              "value": "={{ $json.body?.correlation_id || $json.correlation_id }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $json.body?.brand_id || $json.brand_id }}"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.body?.campaign_id || $json.campaign_id }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.body?.job_id || $json.job_id }}"
            },
            {
              "name": "requested_by",
              "value": "={{ $json.body?.requested_by || $json.requested_by }}"
            },
            {
              "name": "created_at",
              "value": "={{ $json.body?.created_at || $json.created_at }}"
            },
            {
              "name": "callback_url",
              "value": "={{ $json.body?.callback_url || $json.callback_url }}"
            },
            {
              "name": "approval_status",
              "value": "={{ $json.body?.approval_status || $json.approval_status }}"
            },
            {
              "name": "module_name",
              "value": "={{ $json.body?.module_name || $json.module_name }}"
            }
          ],
          "other": [
            {
              "name": "payload",
              "value": "={{ $json.body?.payload || $json.payload }}"
            },
            {
              "name": "safety",
              "value": "={{ $json.body?.safety || $json.safety }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set: Normalize Core Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        200,
        350
      ],
      "id": "set-normalize-event"
    },
    {
      "parameters": {
        "jsCode": "// Validate contract constraints from core_to_n8n_event\nconst body = items[0].json;\n\nconst hasRequiredFields = body.event_id && \n                         body.event_type && \n                         body.correlation_id && \n                         body.brand_id && \n                         body.campaign_id && \n                         body.job_id && \n                         body.created_at;\n\n// Simple UUID check placeholder\nconst isUUID = (str) => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(str);\nconst isValidUUIDs = isUUID(body.event_id) && isUUID(body.correlation_id);\n\nreturn [{\n  json: {\n    ...body,\n    contract_valid: !!(hasRequiredFields && isValidUUIDs),\n    validation_error: hasRequiredFields ? (isValidUUIDs ? '' : 'Invalid UUID format') : 'Missing required contract properties'\n  }\n}];"
      },
      "name": "Code: Validate Contract Placeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        350,
        350
      ],
      "id": "code-validate-contract"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.contract_valid }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF: Contract Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        350
      ],
      "id": "if-contract-valid"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "all",
          "string": [
            {
              "value1": "={{ typeof $json.safety }}",
              "operation": "equal",
              "value2": "object"
            }
          ]
        }
      },
      "name": "IF: Safety Gate - General",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        250
      ],
      "id": "if-safety-general"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "CONTENT_GENERATION_REQUESTED",
              "output": 0
            },
            {
              "value2": "COMFYUI_GENERATION_REQUESTED",
              "output": 1
            },
            {
              "value2": "ADS_PACK_REQUESTED",
              "output": 2
            },
            {
              "value2": "CAMPAIGN_PUBLISH_REQUESTED",
              "output": 3
            },
            {
              "value2": "ADS_SPEND_REQUESTED",
              "output": 4
            },
            {
              "value2": "INBOX_REPLY_DRAFT_REQUESTED",
              "output": 5
            },
            {
              "value2": "ANALYTICS_REPORT_REQUESTED",
              "output": 6
            },
            {
              "value2": "BILLING_SYNC_REQUESTED",
              "output": 7
            }
          ]
        },
        "fallbackOutput": 8
      },
      "name": "Switch: Route by event_type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        800,
        250
      ],
      "id": "switch-route-event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_CONTENT_GENERATOR_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"content-generator\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke Content Module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        50
      ],
      "id": "http-invoke-content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_COMFYUI_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"comfyui-pipeline\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke ComfyUI Module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        150
      ],
      "id": "http-invoke-comfyui"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_ADS_PACK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"meta-ads-connector\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke Ads Pack Module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        250
      ],
      "id": "http-invoke-ads-pack"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "all",
          "string": [
            {
              "value1": "={{ $json.approval_status }}",
              "operation": "equal",
              "value2": "APPROVED"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.safety.final_approval_granted }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_auto_publish }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_real_world_action }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF: Safety Gate - Publishing Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        350
      ],
      "id": "if-publishing-approved"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_FACEBOOK_PUBLISHER_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"facebook-publisher\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke FB Publisher Module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1350,
        320
      ],
      "id": "http-invoke-fb-publisher"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "all",
          "string": [
            {
              "value1": "={{ $json.approval_status }}",
              "operation": "equal",
              "value2": "APPROVED"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.safety.final_approval_granted }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_ads_spend }}",
              "value2": true
            },
            {
              "value1": "={{ $json.safety.allow_real_world_action }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF: Safety Gate - Ads Spend Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        480
      ],
      "id": "if-ads-spend-approved"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_META_ADS_CONNECTOR_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"meta-ads-connector\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke Meta Ads Connector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1350,
        450
      ],
      "id": "http-invoke-meta-ads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_INBOX_ASSISTANT_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"inbox-assistant\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke Inbox Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        600
      ],
      "id": "http-invoke-inbox-assistant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_ANALYTICS_ENGINE_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"analytics-engine\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke Analytics Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        700
      ],
      "id": "http-invoke-analytics-engine"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MODULE_BILLING_MODULE_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.event_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"module_name\": \"billing-module\",\n  \"callback_url\": \"CORE_CALLBACK_URL\",\n  \"payload\": {{ JSON.stringify($json.payload) }},\n  \"safety\": {{ JSON.stringify($json.safety) }}\n}",
        "options": {}
      },
      "name": "HTTP: Invoke Billing Module",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        800
      ],
      "id": "http-invoke-billing"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_id",
              "value": "={{ $json.event_id }}"
            },
            {
              "name": "correlation_id",
              "value": "={{ $json.correlation_id }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "status",
              "value": "INVALID_CONTRACT"
            }
          ],
          "other": [
            {
              "name": "payload",
              "value": "={{ { \"error\": $json.validation_error, \"original_event_type\": $json.event_type } }}"
            },
            {
              "name": "safety",
              "value": "={{ $json.safety || {} }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP: Callback Core - Invalid Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        600
      ],
      "id": "http-callback-invalid-contract"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "REJECTED_BY_SAFETY"
            },
            {
              "name": "reason",
              "value": "Workflow-level approval/safety gate blocked real-world action"
            },
            {
              "name": "event_id",
              "value": "={{ $json.event_id }}"
            },
            {
              "name": "correlation_id",
              "value": "={{ $json.correlation_id }}"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.campaign_id }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "module_name",
              "value": "={{ $json.event_type === 'CAMPAIGN_PUBLISH_REQUESTED' ? 'facebook-publisher' : 'meta-ads-connector' }}"
            },
            {
              "name": "original_event_type",
              "value": "={{ $json.event_type }}"
            },
            {
              "name": "rejected_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ],
          "other": [
            {
              "name": "safety",
              "value": "={{ $json.safety }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP: Callback Core - Rejected By Safety",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1350,
        600
      ],
      "id": "http-callback-rejected-safety"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_id",
              "value": "={{ $json.event_id }}"
            },
            {
              "name": "correlation_id",
              "value": "={{ $json.correlation_id }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "status",
              "value": "QUEUED"
            }
          ],
          "other": [
            {
              "name": "payload",
              "value": {
                "message": "Request successfully routed and queued for execution."
              }
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP: Callback Core - Queued",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1600,
        350
      ],
      "id": "http-callback-queued"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: \"ignored\",\n    message: \"Unhandled event type: \" + items[0].json.event_type\n  }\n}];"
      },
      "name": "Code: Fallback Ignored",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1100,
        900
      ],
      "id": "code-fallback"
    }
  ],
  "connections": {
    "Webhook: Receive Core Event": {
      "main": [
        [
          {
            "node": "Set: Normalize Core Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Normalize Core Event": {
      "main": [
        [
          {
            "node": "Code: Validate Contract Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate Contract Placeholder": {
      "main": [
        [
          {
            "node": "IF: Contract Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Contract Valid?": {
      "main": [
        [
          {
            "node": "IF: Safety Gate - General",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Callback Core - Invalid Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Safety Gate - General": {
      "main": [
        [
          {
            "node": "Switch: Route by event_type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Callback Core - Rejected By Safety",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Route by event_type": {
      "main": [
        [
          {
            "node": "HTTP: Invoke Content Module",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Invoke ComfyUI Module",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Invoke Ads Pack Module",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Safety Gate - Publishing Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Safety Gate - Ads Spend Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Invoke Inbox Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Invoke Analytics Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Invoke Billing Module",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Fallback Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Safety Gate - Publishing Approved": {
      "main": [
        [
          {
            "node": "HTTP: Invoke FB Publisher Module",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Callback Core - Rejected By Safety",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Safety Gate - Ads Spend Approved": {
      "main": [
        [
          {
            "node": "HTTP: Invoke Meta Ads Connector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Callback Core - Rejected By Safety",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke Content Module": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke ComfyUI Module": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke Ads Pack Module": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke FB Publisher Module": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke Meta Ads Connector": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke Inbox Assistant": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke Analytics Engine": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Invoke Billing Module": {
      "main": [
        [
          {
            "node": "HTTP: Callback Core - Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 3600
  }
}
