n8n-workflows/module_result_callback_to_core.workflow.json
{
  "name": "Module Result Callback to Core",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "module-callback",
        "options": {}
      },
      "name": "Webhook: Receive Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "webhook-receive-callback"
    },
    {
      "parameters": {
        "jsCode": "// Validate the module callback conforms to schema\nconst body = items[0].json.body;\nif (!body.correlation_id || !body.job_id || !body.module_name || !body.status) {\n  throw new Error('Invalid callback structure: Missing required fields');\n}\nreturn [{\n  json: {\n    ...body,\n    validated_at: new Date().toISOString()\n  }\n}];"
      },
      "name": "Code: Validate Callback Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "id": "code-validate-callback"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_id",
              "value": "={{ $json.event_id || $uuid }}"
            },
            {
              "name": "correlation_id",
              "value": "={{ $json.correlation_id }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "module_name",
              "value": "={{ $json.module_name }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            }
          ],
          "other": [
            {
              "name": "payload",
              "value": "={{ $json.payload }}"
            },
            {
              "name": "safety",
              "value": "={{ $json.safety }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set: Preview Callback Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        550,
        300
      ],
      "id": "set-preview-callback"
    }
  ],
  "connections": {
    "Webhook: Receive Callback": {
      "main": [
        [
          {
            "node": "Code: Validate Callback Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate Callback Schema": {
      "main": [
        [
          {
            "node": "Set: Preview Callback Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 3600
  }
}
